<style media="screen">

  body{
    font-family: 'Quicksand', sans-serif;
  }
  .parts{
    padding-left: 5em;
    padding-right: 5em;
  }


  #header{
    font-family: 'Merriweather', serif;
    background-image:url(https://images.unsplash.com/photo-1537498425277-c283d32ef9db?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
    background-position:70% 40%;
    background-size:110%;
    padding:7em;
    opacity:.7;
  }

  /* Basic Information */
  .column_intro {
    float: left;
    width: 70%;
    padding: 15px;
  }
  .column_profile_pic {
    float: left;
    width: 30%;
    padding: 15px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .important_info{
    color:#FF8C00;
  }

/* Education */
  .column_college{
    float:left;
    width:85%;
    padding-left: 15px;
  }
  .column_graduation{
    float:left;
    width:15%;
  }

  /* Programming Skills */
  table, td, th {
  border: 1px solid #ddd;
  text-align: left;
  }
  th, td {
  padding: 15px;
  }
  table{
    width:100%;
  }
  .column_form_input{
    float:left;
    width:90%;
    padding:15px;
  }
  .column_form_submit{
    float:left;
    width:10%;
  }
  .button{
    background-color:rgba(213, 189, 214, 0.46);
    border: 2px solid white;
    border-radius: 5px
    color:white;
    padding:15px;
    text-align:center;
  }

  /* Favorites */
  .column_favorites{
    float:left;
    width:33%;
    padding:15px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Projects */
  .content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

  h1{
    color:white;
    font-size:10em;
    text-align:center;
  }
  h2{
    text-align:left;
    color:#9a619e;
  }
  h3{
    text-align: left;
  }




</style>
